@model Question

@section HeadContent
{
    <!--Markdown CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
}

<br />
<br />
<div class="row mt-5">
    <div class="col-sm-12 col-md-3 s12 m3"></div>
    <div class="col-sm-12 col-md-6 s12 m6">
        <div class="card shadow">
            <div class="card-body">
                <div class="center"><h4>Edit Question</h4></div>

                <hr />
                <form method="post" id="myform" novalidate>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="MDDescription">Description</label><br>
                        <textarea id="MDDescription" type="text" rows="10" cols="50"
                                  name="MDDescription" value="" required>@Model.QuestionText</textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="QuestionText" class="form-control">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-dark btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 s12 m3"></div>
</div>

@section Scripts
{
    <script>
        // initialization of markdown editor with the custom toolbar
        let simpleMDE = new SimpleMDE({
            element: document.getElementById("MDDescription"),
            toolbar: ["bold", "italic", "heading","preview"],
        });

        //passing data to the hidden field in the form
        function validate() {
            console.log(document.getElementById("QuestionText").value);
            document.getElementById("QuestionText").value = simpleMDE.value();
            console.log($("#QuestionText").val());
            return true
        }

        $("#submitBtn").click(validate);
    </script>
}