@model QuestionListViewModel

<div class="row mt-5">
    <div class="col-sm-12">
        <div class="font-weight-bold h3">All Questions</div>
    </div>
    <div class="col-sm-12" style="text-align:right">
        <a asp-controller="Question" asp-action="NewQuestion" class="btn btn-primary">Ask a Question</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @foreach (var question in Model.Questions)
                {
                    <a asp-controller="Question" asp-action="view" asp-route-id="@question.Id">
                        <div class="font-weight-bold h4 text-primary">@question.Title</div>
                    </a>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>