@model DoubtSolvingForum.ViewModels.LoginViewModel
<br />
<br />
<div class="row mt-5">
    <div class="col-sm-12 col-md-3"></div>
    <div class="col-sm-12 col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center h4 font-weight-bold card-title">
                    Login
                </div>
                <form method="post">
                    <div class="">
                        <div class="text-danger text-center font-weight-bold" asp-validation-summary="All">
                        </div>
                        <div class="input-group flex-nowrap mt-4">
                            <div class="input-group-text">
                                <i class="material-icons prefix">account_circle</i>
                            </div>
                            <input required asp-for="Username" placeholder="Username" class="form-control">
                            <div asp-validation-for="Username" class="text-danger"></div>
                        </div>
                        <div class="input-group flex-nowrap mt-4">
                            <div class="input-group-text">
                                <i class="material-icons prefix">lock_outline</i>
                            </div>
                            <input required asp-for="Password" placeholder="Password" class="form-control">
                            <div asp-validation-for="Password" class="text-danger"></div>
                        </div>
                        <div class="input-group mt-4">
                            <div class="custom-checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m=>m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button class="black btn-dark btn btn-block darken-2 btn waves-effect waves-light center"
                                    type="submit" name="action">
                                Login
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3"></div>
</div>
<br />
<br />