<div class="row mt-5">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12 h1">
                QnA
                <i class="material-icons prefix">question_answer</i>
            </div>
            <div class="col-sm-12 text-muted h4">
                Doubt Solving Forum
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card shadow border-primary border-top-0 border-bottom-0 border-right-0" style="border-width:5px !important">
                    <div class="h4 card-body">
                        Get Answers of your Questions & Doubts from our emerging Tech Community.

                    </div>
                </div>
            </div>
            <div class="mt-5 mt-md-0 col-sm-6">
                <div class="card shadow h-100 border-success border-top-0 border-bottom-0 border-right-0" style="border-width:5px !important">
                    <div class="h4 card-body">
                        Problems become easy when you have someone to help.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mt-md-0 col-sm-4">
        <img src="~/images/image.jpg"  class="img-fluid" alt="...">
    </div>
</div>
